<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Partidos en los que me anote</a>
        </div>

        <div id="navbar" class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>

<table class="table table-striped" class="genericTable">
    <thead>
    <tr>
        <th style="text-align: center;">Deporte</th>
        <th style="text-align: center;">Cantidad Personas</th>
        <th style="text-align: center;">Lugar</th>
        <th style="text-align: center;">De</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align: center;" ng-repeat="inscripto in inscriptos">
        <td>{{ inscripto.partido.deporte }}</td>
        <td>{{ inscripto.partido.totalInscriptos }} de {{ inscripto.partido.cant_personas }}</td>
        <td>{{ inscripto.partido.lugar}}</td>
        <td>{{ inscripto.partido.usuario.name }}</td>
        <td>
            <button class="btn btn-info" ng-click="accionesPartido.info(inscripto.partido)">
                <span class="glyphicons"></span>Info
            </button>
            <button class="btn btn-danger" ng-click="desanotarme(inscripto)">
                <span class="glyphicons"></span>Desanotarme
            </button>
        </td>
    </tr>
    </tbody>
</table>
