<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Recomendaciones</a>
        </div>

        <div id="navbar" class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
    </div>
</nav>

<div class="container partidoDiv" ng-show="recomendacionSeleccionada">

    <table class="table"><tr>
        <td>
            <img class="logo-user img-rounded" src={{recomendacionSeleccionada.usuario.photoUrl}}>
            <p>{{ recomendacionSeleccionada.usuario.name }}</p>
        </td>
        <td>
            <p><b>RecomendacionID:</b> {{ recomendacionSeleccionada.id }}</p>
            <p><b>UsuarioID:</b> {{ recomendacionSeleccionada.usuario.id }}</p>
            <p><b>Deporte:</b> {{ recomendacionSeleccionada.partido.deporte }}</p>
            <p><b>Lugar:</b> {{ recomendacionSeleccionada.partido.lugar }}</p>
            <p><b>Total inscriptos:</b> {{ recomendacionSeleccionada.partido.totalInscriptos }} de {{ recomendacionSeleccionada.partido.cant_personas }}</p>
        </td>
    </tr>
    </table>

    <p><button class="btn btn-success" ng-click="deseleccionar()">
        <span class="glyphicons"></span>Cerrar
    </button></p>
</div>

<table class="table table-striped" class="genericTable">
    <thead>
    <tr>
        <th style="text-align: center;">ID</th>
        <th style="text-align: center;">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align: center;" ng-repeat="recomendacion in recomendaciones">
        <td>{{ recomendacion.id }}</td>
        <td>
            <button class="btn btn-info" ng-click="seleccionar(recomendacion)">
                <span class="glyphicons"></span>Info
            </button>
            <button class="btn btn-danger" ng-click="eliminar(recomendacion)">
                <span class="glyphicons"></span>Eliminar
            </button>
        </td>
    </tr>
    </tbody>
</table>
