<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Entidad usuario</a>
        </div>

        <div id="navbar" class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right" style="margin-top: 7px;">
                <button class="btn btn-default" ng-click="cancelar()">
                    <span class="glyphicons"></span>Cancelar
                </button>
            </ul>
        </div>
    </div>
</nav>

<div class="container partidoDiv">
    <form role="form">
        <table class="table" style="width: 50%; margin-left: 25%; text-align: right;">
            <tr ng-show="editando">
                <td><label>usuario id:</label></td>
                <td><p style="text-align: left">{{usuarioID}}</p></td>
            </tr>
            <tr>
                <td><label for="usuarioFbID">facebook id:</label></td>
                <td><input type="text" class="form-control" id="usuarioFbID" ng-model="usuarioFbID"
                           style="width: 150px"></td>
            </tr>
        </table>
    <p><button class="btn btn-success" ng-click="guardar()">
        <span class="glyphicons"></span>Guardar usuario</button>
    </p>
    </form>
</div>
<p style="text-align: center;">
    * El atributo 'id' es autogenerado. <br>
    * El atributo 'nombre' es obtenido a partir de facebook.
</p>
